.footer{
    width: 100%;
    background-color: #0f3460;
}
.footer .container-footer{
    width: 95%;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer .container-footer div{
    width: 25%;
    padding: 15px;
}
.footer .container-footer div h2{
    color: white;
}
.footer .container-footer div p{
    color: #d6d3d3;
    text-align: justify;
    font-weight: bold;
    padding: 4px;
}

@media only screen and (max-width: 768px){
    .footer .container-footer div{
        width: 100%;
    }
}
@media only screen and (max-width: 600px){
    .footer .container-footer div{
        width: 100%;
    }
}