.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .container-banner{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner .container-banner img{
    width: 100%;
}

